# Environment
.env
.env.*
!.env.example

# Build output
dist/

# Dependencies
node_modules/

# Test coverage
coverage/

# Logs
*.log
logs/

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

/generated/prisma
